{% extends 'base.html' %}

{% block title %}
Upload new DICOM file
{% endblock %}

{% block extraloads %}
{{ form.media.css }}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Upload new DICOM file</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">   
        <div class="general-container">
            <form enctype="multipart/form-data" method="POST" onsubmit="return confirm('Are you sure upload and share the resources to the selected persons (if any)?');">
                {% csrf_token %}
                {% for field in form %}
                <div class="field-wrapper">
                    {{ field.errors }}
                    {{ field|as_crispy_field }}
                    {% if field.name == 'patient' %}
                        <a href="{% url 'dicoms:patient_add' %}" target="_blank">Register new patient </a>
                        <br>
                        <br>
                    {% endif %}
                </div>
                {% endfor %}
                <input type="submit" value='UPLOAD' class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}

{% endblock %}