{% extends 'base.html' %}

{% block title %}
Update patient
{% endblock %}

{% block extraloads %}
{{ form.media.css }}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Update patient</h1>
    </div>
</div>



<div class="row">
    <div class="col-md-6">   
        <div class="general-container">
            <p>Patient name: {{patient.get_full_name}}
            <form method="POST" onsubmit="return confirm('Are you sure to change patient details?');">
                {% csrf_token %}
                {% for field in form %}
                <div class="field-wrapper">
                    {{ field.errors }}
                    {{ field|as_crispy_field }}
                </div>
            {% endfor %}
                <p><input type="submit" value='UPDATE' class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}

{% if user.id == patient.main_doctor.id %}
<p> <a class="btn btn-danger" href="{% url 'dicoms:patient_delete' pk=patient.id %}" role="button">Delete patient</a>
{% endif %}

{% endblock %}



