<!--users/templates/registration/password_change_done.html-->

{% extends 'base.html' %}

{% block title %}
password change done
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h1 class="text-center">Password changed</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="account-form">
        <a href="{% url 'users:dashboard' %}" class="text-center">Back to dashboard</a>
        </div>
    </div>
</div>
{% endblock %}